/* Propriétés CSS communes à toute la page web */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*
{
    font-family: Raleway, Courier, monospace, Arial;
}

a:link
{ 
    text-decoration: none;
    color: inherit;
}

a:visited
{ 
    text-decoration: none;
    color:#551A8B
}

/* HEADER  */


/* Le header va dispatcher le logo Reservia à gauche et le bouton s'inscrire sur la droite sur la même ligne
sur la ligne en dessous viendront hébergement/Activités */

header
{
    display: flex;                          /* FLEXBOX */
    flex-wrap: wrap;
}

.element:nth-child(1)                       /* LE LOGO RESERVIA est prioritaire 1 sur la gauche */
{
    order: 1;
    width: 48%;                             /* LARGEUR */

    display: flex;                          /* FLEXBOX */
    justify-content: flex-start;
}

#reserviaLogo
{
    height: 3em;                            /* LARGEUR */
}

.element:nth-child(2)                       /* la rubrique Hebergements en prioritaire 3 en bas/gauche */
{
    order: 3;
    width: 48%;
    margin-top: 1em;

    display: flex;                          /* FLEXBOX */
    justify-content: center;

    position: relative;                     /* POSITION RELATIVE */
    left: 5%;    
}


.element:nth-child(3)                       /* la rubrique Activites en prioritaire 4 en bas/droite */
{
    order: 4;
    width: 48%;
    margin-top: 1em;
    
    display: flex;                           /* FLEXBOX */
    justify-content: center;
}

.element:nth-child(4)                       /* la rubrique S'inscrire en prioritaire 2 en haut/droite */
{
    order: 2;
    width: 48%;

    display: flex;                          /* FLEXBOX */
    justify-content: flex-end;
}

.lienMenu                                   /* propriétés des liens Hébergements et Activités */
{
    border-color: #f2f2f2;
    border-bottom-style: solid;
    padding-bottom: 4%;
}

.lienMenu:hover                             /* propriétés des liens Hébergements et Activités en survol souris */
{
    color: #3081fd;
    border-bottom-style: solid;
    border-color: #3081fd;
    padding-bottom: 4%;
}

a[href="#titreHebergementMarseille"], a[href="#titreMilieu"]
{
    text-decoration: none;
    color: black;
} 

a[href="#titreHebergementMarseille"]:hover, a[href="#titreMilieu"]:hover
{
    color: #3081fd;
}

#boutonSinscrire
{
    color: #3081fd;
}

button 
{
	background: none;
	border: none;
	font: inherit;	
}

header button:hover
{
    font-weight: bold;
}

/* FIN DU HEADER */

/* CSS et flexbox de la zone section Filtre de Trouver votre h....  à  Plus de 500 logements dispo...*/

#sectionFiltre
{
    margin-left: 1.5%;  
}

#titreFiltre
{
    font-size: 1.2em;
}

#slogan
{
    font-size: 1em;
}

/* CSS de la zone de texte: recherche ville et bouton submit associé  */
input[type="submit"], input[type="search"] 
{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

form[id="formVille"]:hover 
{
    font-style: italic;
}

/* CSS de la grosse bulle icone/zone de texte/bouton submit */

#rechercheVille
{
    display: flex;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
    width: 50%;                        /* LARGEUR */
    height: 2.5em;                      /* HAUTEUR */
    border-radius: 10px;                /* BORDER RADIUS */
}

/* CSS de la zone icone */    

#pointe
{
    background-color: #f2f2f2;
    width: 12%;                         /* LARGEUR */
    height: 100%;                       /* HAUTEUR */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;                      /* FLEXBOX */
    justify-content: center;
    align-items: center;
}

#pointePix
{
    width: 1em;                         /* LARGEUR */
}

/* CSS de la zone de texte */


#formVille
{
    display: flex;
    width: 85%;
    height: 100%;
}

#laVille
{
    width: 75%;                         /* LARGEUR */ 
    height: 100%;                       /* HAUTEUR */
    padding-left: 1em;
    font-weight: bold;
    display: flex;                      /* FLEXBOX */
    justify-content: center; 
    align-items: center;
 }

/* CSS de la zone du bouton submit */

#labelLoupeValid
{
    background-color: #0065fc;
    color: #ffffff;
    font-weight: bold;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 25%;                         /* LARGEUR */
    height: 100%;                       /* HAUTEUR */   
    display: flex;
    justify-content: center;
    align-items: center;
}

#iconLoupe
{
    width: 1em;
}

#textValid
{
    display: none;
}

/* FIN DU BOUTON RECHERCHE PAR VILLE */

/* CSS de la ligne de filtes : Eco, Famil., Romantiq., Animaux */

#filtreRecherche
{
    display: flex;
    align-items: center;  
    width: 100%;
}

ul.mesFiltres
{
    list-style-type: none;
    display: flex;
    width: 90%;
}

.iconPix
{
    color: #0065fc;
    border: 1.5px solid #deebff;
    background: #deebff;
    border-radius: 50px;
    padding: 15px;
    text-align: center;
    margin-right: 4%;
    position: relative;
    right: 2px;
    z-index: 2;
}


ul.mesFiltres li
{
    float: left;
}


.amande
{
    border: 1.5px solid #d9d9d9;
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin-right: 2%;
    font-weight: bold;
    z-index: 1;
}

.amande:hover
{
    color: white;
    background-color: #0065fc;
}

.cartoucheLongue
{
    width: 220px;
}

.cartoucheMoyenne
{
    width: 220px;
}

.cartouchePetite
{
    width: 160px;
}    

.pourInfoPix
{
    border: 2px solid #dedede;
    border-radius: 50%;
    padding: 6px;
    width: 18px;
    height: 18px;
    text-align: center;
    margin-right: 1%;
    color: #0065fc;
}


/* CSS et flexbox de la zone section Filtre de Trouver votre h....  à  Plus de 500 logements dispo...*/
/* FIN FIN FIN FIN FIN FIN FIN FIN FIN FIN FIN FIN FIN FIN */

/* CSS de la section des photos des hébergements - SECTION SUPERIEURE */

#sectionSuperieure
{
    display: flex;
    flex-direction: column-reverse;   
}

#blocGauche
{
    width: 100%;    
}

#titreHebergementMarseille
{
    margin-left: 8%;
}

.titreHdeux
{
    font-size: 1.5em;
}

#blocGaucheTop
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#blocGaucheBas
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bullePhoto
{
    border-style: solid;
    border-radius: 20px;
    border-color:#ffffff; 
    background-color:#ffffff;
    box-shadow: 0px 3px 0px #f3f3f3;
    margin-bottom: 5%;
    width: 85%;
}

.descripPhoto
{
    height: 4em;
}
.starPix
{
    width: 3%;
    color: #0065fc;
}

.starPixGrey
{
    color: #d9d9d9;
    width: 3%;
}

.roundedPixTop
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;                        /* LARGEUR */
    height: 250px;                     /* HAUTEUR */
    object-fit: cover;
}

.roundedPixBottom
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;                        /* LARGEUR */
    height: 250px;                     /* HAUTEUR */
    object-fit: cover;
}

.bulleTitreText
{
    font-weight: bold;
    margin-left: 5%;
    position: relative;
    bottom: 1em;
}

.bulleText
{
    margin-left: 5%;
    position: relative;
    bottom: 1.8em;
}

.ratings
{
    margin-left: 5%;
    position: relative;
    bottom: 2.5em;
}

/* CSS de la zone au top de la sectionSuperieure sur la version tablette en portrait */

#blocDroit
{
    width: 100%;    
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#titrePlusIcon
{
    display: flex;
    width: 80%; 
    justify-content: space-between;
    align-items: center;
}

#iconGraph
{
    width: 1em;
}

.bullePicture
{
    display: flex;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 20px;
    margin-bottom: 9%;
    height: 300px;                                        /* HAUTEUR */
    width: 85%;
    background-color: #ffffff;
}

.leftRoundPix
{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: auto;
    width: 48%;
    height: 100%;
    object-fit: cover;
}

.descriptionPhoto
{
    padding-left: 2%;
    width: 52%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.titreTextPhoto
{
    font-weight: bold;
}

.ratingsDroit
{
   position: relative;
   top: 55%;
}

.starPixDroit
{
    width: 4%;
    color: #0065fc;
}

.starPixDroitGrey
{
    width: 4%;
    color: #d9d9d9;
}

/* FIN DU #blocDroit qui est au top de la version Mobile */

#afficherPlus
{
    margin-left: 8%;
}

/* FIN FIN FIN FIN CSS de la section des photos des hébergements - SECTION SUPERIEURE FIN FIN FIN FIN FIN FIN */

#titreMilieu
{
    margin-left: 8%;
}

/* CSS de la section inferieure */

#sectionInferieure
{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.blocActivite
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#bullePix1, #bullePix2, #bullePix3, #bullePix4, #bullePix5, #bullePix6
{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border-radius: 20px;
    box-shadow: 0px 3px 0px #f3f3f3;
    width: 85%;
    margin-bottom: 5%; 
}

.pixInferieures
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;                                       
    height: 250px;
    object-fit: cover;
}

.pixDescrip
{
    display: flex;
    align-items: center;
    padding-left: 5%;
}

/* FIN FIN FIN FIN de la section inférieure   FIN FIN FIN FIN */

/* CSS du footer */

footer
{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    padding-left: 8%;
}

footer a:hover
{
    font-style: italic;
}

footer ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer li
{
    margin-bottom: 1em;
}