/* Propriétés CSS communes à toute la page web */

@font-face 
{
    font-family: 'Raleway';
    src: url('Raleway-VariableFont_wght.ttf');
}

*
{
    font-family: Raleway, Courier, monospace, Arial;
}

/* HEADER  */


/* Le header va dispatcher le logo Reservia à gauche et le bouton s'inscrire sur la droite sur la même ligne
sur la ligne en dessous viendront hébergement/Activités */

header
{
    display: flex;                          /* FLEXBOX */
    flex-wrap: wrap;
}

.element:nth-child(1)                       /* LE LOGO RESERVIA est prioritaire 1 sur la gauche */
{
    order: 1;
    width: 48%;                             /* LARGEUR */

    display: flex;                          /* FLEXBOX */
    justify-content: flex-start;
}

#reserviaLogo
{
    height: 3em;                            /* LARGEUR */
}

.element:nth-child(2)                       /* la rubrique Hebergements en prioritaire 3 en bas/gauche */
{
    order: 3;
    width: 48%;
    margin-top: 1em;

    display: flex;                          /* FLEXBOX */
    justify-content: center;

    position: relative;                     /* POSITION RELATIVE */
    left: 5%;    
}


.element:nth-child(3)                       /* la rubrique Activites en prioritaire 4 en bas/droite */
{
    order: 4;
    width: 48%;
    margin-top: 1em;
    
    display: flex;                           /* FLEXBOX */
    justify-content: center;
}

.element:nth-child(4)                       /* la rubrique S'inscrire en prioritaire 2 en haut/droite */
{
    order: 2;
    width: 48%;

    display: flex;                          /* FLEXBOX */
    justify-content: flex-end;
}

.lienMenu                                   /* propriétés des liens Hébergements et Activités */
{
    border-color: #f2f2f2;
    border-bottom-style: solid;
    padding-bottom: 4%;
}

.lienMenu:hover                             /* propriétés des liens Hébergements et Activités en survol souris */
{
    color: #3081fd;
    border-bottom-style: solid;
    border-color: #3081fd;
    padding-bottom: 4%;
}

#boutonSinscrire
{
    color: #3081fd;
}

/* FIN DU HEADER */

/* CSS et flexbox de la zone section Filtre de Trouver votre h....  à  Plus de 500 logements dispo...*/

#sectionFiltre
{
    margin-left: 1.5%;  
}

#titreFiltre
{
    font-size: 1.2em;
}

#slogan
{
    font-size: 1em;
}

/* CSS de la zone de texte: recherche ville et bouton submit associé  */
input[type="submit"], input[type="search"] 
{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* CSS de la grosse bulle icone/zone de texte/bouton submit */

#rechercheVille
{
    display: flex;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
    width: 90%;                        /* LARGEUR */
    height: 2.5em;                      /* HAUTEUR */
    border-radius: 10px;                /* BORDER RADIUS */
}

/* CSS de la zone icone */    

#pointe
{
    background-color: #f2f2f2;
    width: 12%;                         /* LARGEUR */
    height: 100%;                       /* HAUTEUR */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;                      /* FLEXBOX */
    justify-content: center;
    align-items: center;
}

#pointePix
{
    width: 1em;                         /* LARGEUR */
}

/* CSS de la zone de texte */


#formVille
{
    display: flex;
    width: 85%;
    height: 100%;
}

#laVille
{
    width: 75%;                         /* LARGEUR */ 
    height: 100%;                       /* HAUTEUR */
    padding-left: 1em;
    font-weight: bold;
    display: flex;                      /* FLEXBOX */
    justify-content: center; 
    align-items: center;
 }

/* CSS de la zone du bouton submit */

#labelLoupeValid
{
    background-color: #0065fc;
    color: #ffffff;
    font-weight: bold;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 25%;                         /* LARGEUR */
    height: 100%;                       /* HAUTEUR */   
    display: flex;
    justify-content: center;
    align-items: center;
}

#iconLoupe
{
    width: 1em;
}

#textValid
{
    display: none;
}

/* FIN DU BOUTON RECHERCHE PAR VILLE */

/* CSS de la ligne de filtes : Eco, Famil., Romantiq., Animaux */

#filtre
{
    display: flex;                          /* FLEXBOX */
    flex-wrap: wrap;
    font-weight: bold;
}

/* CSS du texte Filtres: */
#filtresText
{
    display: flex;                          /* FLEXBOX */
    align-items: center; 
    width: 100%;
    font-size: 1.2em;
}

/* CSS des bulles de filtres (icone+text) Eco, fam., Romantiq., Animaux */

.filtreBulle
{  
    display: flex;
    margin-bottom: 1em;
}

.iconBlock
{
    background-color: #deebff;
    border-style: solid;
    border-color: #deebff;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.iconPix
{
    width: 1em;
    color: #0065fc;
}

/* propriétés générales CSS des icones des bulles de filtres Eco, fam., Romantiq., Animaux */

button 
{
	background: none;
	border: none;
	font: inherit;
	
}

.boutonBlock
{
    border-color: #d9d9d9;
    border-style: solid;
    border-width: 1px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-left: 1.4em;
    padding-right: 0.5em;
    position: relative;
    right: 1em;
    z-index: 1;
}

/* CSS de la ligne pour Info */

/* prop. Flexbox de cette ligne: icone i + texte pour info */

#pourInfo
{
    display: flex;
    align-items: baseline;    
}

#iPourInfo
{
    height: 1.5em;
    width: 1.5em;
    border-style: solid;
    border-width: thin;
    border-color: #dedede;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5em;   
    position: relative;
    top: 0.1em;
}

#textPourInfo
{
    font-size: 1em;
}

#pourInfoPix
{
    width: 0.2em;
    color: #0065fc;
}


/* CSS et flexbox de la zone section Filtre de Trouver votre h....  à  Plus de 500 logements dispo...*/
/* FIN FIN FIN FIN FIN FIN FIN FIN FIN FIN FIN FIN FIN FIN */

/* CSS de la section des photos des hébergements - SECTION SUPERIEURE */

#sectionSuperieure
{
    display: flex;
    flex-direction: column-reverse;   
}

#blocGauche
{
    width: 100%;    
}

#titreHebergementMarseille
{
    margin-left: 8%;
}

#blocGaucheTop
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#blocGaucheBas
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bullePhoto
{
    border-style: solid;
    border-radius: 10%;
    border-color:#ffffff; 
    background-color:#ffffff;
    box-shadow: 0px 3px 0px #f3f3f3;
    margin-bottom: 5%;
}

.descripPhoto
{
    height: 3.6em;
}
.starPix
{
    width: 0.8em;
    color: #0065fc;
}

.starPixGrey
{
    color: #d9d9d9;
}

.roundedPix
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 15em;                        /* LARGEUR */
    height: 5.25em;                     /* HAUTEUR */
}

.bulleTitreText
{
    font-weight: bold;
    margin-left: 5%;
    font-size: 0.8em;
    position: relative;
    bottom: 1em;
}

.bulleText
{
    margin-left: 5%;
    font-size: 0.8em;
    position: relative;
    bottom: 1.5em;
}

.ratings
{
    margin-left: 5%;
    position: relative;
    bottom: 1.5em;
}

/* CSS de la zone au top de la sectionSuperieure sur la version mobile */

#blocDroit
{
    width: 100%;    
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#titrePlusIcon
{
    display: flex;
    width: 80%; 
    justify-content: space-between;
    align-items: center;
}

#iconGraph
{
    width: 1em;
}

.bullePicture
{
    display: flex;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 9%;
    height: 7em;                                        /* HAUTEUR */
    background-color: #ffffff;
}

.leftRoundPix
{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 7em;
    width: 6.6em;
}

.descriptionPhoto
{
    padding-left: 2%;
    width: 10.5em;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.titreTextPhoto
{
    font-weight: bold;
}

.textPhoto
{
    position: relative;
    bottom: 15%;
}

.ratingsDroit
{
    position: relative;
    bottom: 5%; 
}

.starPixDroit
{
    width: 8%;
    color: #0065fc;
}

.starPixDroitGrey
{
    color: #d9d9d9;
}

/* FIN DU #blocDroit qui est au top de la version Mobile */

#afficherPlus
{
    margin-left: 8%;
}

/* FIN FIN FIN FIN CSS de la section des photos des hébergements - SECTION SUPERIEURE FIN FIN FIN FIN FIN FIN */

#titreMilieu
{
    margin-left: 8%;
}

/* CSS de la section inferieure */

#sectionInferieure
{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.blocActivite
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

#bullePix1, #bullePix2, #bullePix3, #bullePix4, #bullePix5, #bullePix6
{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0px 3px 0px #f3f3f3;
    width: 80%;
    height: 10em;
    margin-bottom: 5%; 
}

.pixInferieures
{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;                                        /* A CHANGER POUR LA VERSION TABLETTE */
    height: 80%;
}

.pixDescrip
{
    height: 10%;
    display: flex;
    align-items: center;
    padding-left: 5%;
}

/* FIN FIN FIN FIN de la section inférieure   FIN FIN FIN FIN */

/* CSS du footer */

footer
{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    padding-left: 8%;
}

footer a:hover
{
    font-style: italic;
}