/* Propriétés CSS communes à toute la page web */

@font-face 
{
    font-family: 'Raleway';
    src: url('Raleway-VariableFont_wght.ttf');
}

*
{
    font-family: Raleway, Courier, monospace, Arial;
}

/* flexbox et CSS de la zone d'entête */


/* Le header va dispatcher le logo Reservia à gauche et le bouton s'inscrire sur la droite sur la même ligne
sur la ligne en dessous viendront hébergement/Activités */

header
{
    display: flex;

    flex-wrap: wrap;
    
    justify-content: space-between;
    /*padding-left: 1.5%; */

    border-bottom-style: solid;
    border-bottom-color: #f2f2f2;

}



.element:nth-child(1)
{
    text-align: left;

    order: 1;

    width: 48%;

}

.element:nth-child(2)
{

    order: 3;
    
    width: 48%;
    margin-top: 1em;

    display: flex;
    justify-content: center;
    
}


.element:nth-child(3)
{

    order: 4;
    
    width: 48%;
    margin-top: 1em;
    
    

    display: flex;
    justify-content: center;

}

.element:nth-child(4)
{
    order: 2;
    width: 48%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}



.lienMenu:hover
{
    color: #3081fd;
    border-bottom-style: solid;
}


#boutonSinscrire
{
    color: #3081fd;
}


/* flexbox de la zone d'entête FIN FIN FIN CSS de la zone d'entête FIN FIN FIN*/

/* CSS et flexbox de la zone section Filtre de Trouver votre h....  à  Plus de 500 logements dispo...*/



#sectionFiltre
{
    margin-left: 1.5%;
  
}

#titreFiltre
{
    font-size: 2em;
}

#slogan
{
    font-size: 1.4em;
}

/* CSS de la zone de texte: recherche ville et bouton submit associé  */
input[type="submit"], input[type="text"] 
{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* CSS de la grosse bulle icone/zone de texte/bouton submit */

#rechercheVille
{
    display: flex;

    align-items: center;

    width: 100%;

    height: 50px;

    border-radius: 15px;
}

/* CSS de la zone icone */    

#pointe
{
    background-color: #f2f2f2;
    width: 13%;

    height: 50px;

    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* CSS de la zone de texte */

#laVille
{
    width: 55%;

    height: 50px;

    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* CSS de la zone du bouton submit */

#valid
{

    background-color: #0065fc;

    color: #ffffff;

    font-weight: bold;

    width: 32%;

    height: 50px;

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* CSS de la ligne de filtes : Eco, Famil., Romantiq., Animaux */

#filtre
{
    display: flex;
    
    flex-wrap: wrap;
    font-weight: bold;

}

/* CSS du texte Filtres: */
#filtresText
{
    display: flex;
    align-items: center; 
    width: 100%;
    font-size: 1.3em;
}

/* CSS des icones des bulles de filtres Eco, fam., Romantiq., Animaux */

#iconEco
{
    background-color: #deebff;
    border-style: solid;
    border-width: thick;
    border-color: #deebff;

    display: flex;
    justify-content: center;

    width: 48px;
    height: 48px;
    border-radius: 50%;  
    
    
}

#iconFamille
{
    background-color: #deebff;
    border-style: solid;
    border-width: thick;
    border-color: #deebff;
    
    width: 48px;
    height: 48px;
    border-radius: 50%;

    display: flex;
    justify-content: center;

    
    
}

#iconRomantique
{
    background-color: #deebff;
    border-style: solid;
    border-width: thick;
    border-color: #deebff;

    width: 48px;
    height: 48px;
    border-radius: 50%;

    display: flex;
    justify-content: center;


}

#iconAnimaux
{
    background-color: #deebff;
    border-style: solid;
    border-width: thick;
    border-color: #deebff;
     
    width: 48px;
    height: 48px;
    border-radius: 50%;

    display: flex;
    justify-content: center;

}

/* propriétés générales CSS des icones des bulles de filtres Eco, fam., Romantiq., Animaux */

button 
{
	background: none;
	border: none;
	font: inherit;
	
}

/* propriétés CSS individuelles des icones des bulles de filtres Eco, fam., Romantiq., Animaux */
#boutonEco
{
    border-color: #d9d9d9;
    border-style: solid;
    border-left-style: none;

    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

    display: flex;
    justify-content: center;

    width: 35%;
    margin-right: 1em;

    position: relative;
    right: 24px;
}

#boutonFamille
{
    
    border-color: #d9d9d9;
    border-style: solid;
    border-left-style: none;
    
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

    display: flex;
    justify-content: center;

    width: 35%;

    position: relative;
    right: 24px;
}

#boutonRomantique
{
    
    border-color: #d9d9d9;
    border-style: solid;
    border-left-style: none;


    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

    width: 35%;
    margin-right: 12em;
    
    display: flex;
    justify-content: center;

    position: relative;
    right: 24px;
}

#boutonAnimaux
{
   
    border-color: #d9d9d9;
    border-style: solid;
    border-left-style: none;

    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

    display: flex;
    justify-content: center;

    width: 45%;

    position: relative;
    right: 24px;
    
}


/* CSS de la ligne pour Info */

/* prop. Flexbox de cette ligne: icone i + texte pour info */

#pourInfo
{
    display: flex;

    align-items: baseline;
    
}

#iPourInfo
{
    width: 25px;
    height: 25px;
    border-style: solid;
    border-width: thin;
    border-color: #dedede;
    border-radius: 50%; 

    display: flex;
    justify-content: center;
    
    margin-right: 1em;
    position: relative;
    top: 4px;
}

#textPourInfo
{
    font-size: 1.3em;
}



/* CSS et flexbox de la zone section Filtre de Trouver votre h....  à  Plus de 500 logements dispo...*/
/* FIN FIN FIN FIN FIN FIN FIN FIN FIN FIN FIN FIN FIN FIN */


/* CSS de la section des photos des hébergements - SECTION SUPERIEURE */

#sectionSuperieure
{

    display: flex;
    flex-direction: column-reverse;
    
}

#blocGauche
{
    width: 100%;
        
}

#titreHebergementMarseille
{
    margin-left: 8%;
}

#blocGaucheTop
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#blocGaucheBas
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bullePhoto
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 80%;
    
    border-style: solid;
    border-radius: 5%;
    border-color:#ffffff; 

    background-color:#ffffff;

    box-shadow: 0px 3px 0px #f3f3f3;

    margin-bottom: 5%;
}

.roundedPix
{
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;

    width: 100%;
}

#afficherPlus
{
    margin-left: 8%;
}

/*
.bulleText
{
    position: relative;
    bottom: 10px;
    margin-left: 1px;
}
*/
/*
.ratings
{
    
    display: flex;
    
    
    position: relative;
    bottom: 36px;
    margin-left: 1px;
    
}
*/

/* CSS de la zone droite de la sectionSuperieure */

#blocDroit
{
    width: 100%;    

    background-color: #f2f2f2;

    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#titrePlusIcon
{
    display: flex;

    width: 80%;
    
    justify-content: space-between;
   
}


.bullePicture
{
    display: flex;

    border-style: solid;
    border-color: #ffffff;
    border-radius: 10px;

    margin-bottom: 9%;

    width: 80%;
    height: 134px;

    background-color: #ffffff;
}

.leftRoundPix
{
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;

    width: 33%;

}

.descriptionPhoto
{
    margin-left: 2%;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
}



.textPhoto
{
    position: relative;
    bottom: 10%;
}



#ratingsRightMiddle
{
    position: relative;
    bottom: 10%;
}

/*
#ratingsRightBottom
{
    position: relative;
    bottom: 16%;
}
*/



/* FIN FIN FIN FIN CSS de la section des photos des hébergements - SECTION SUPERIEURE FIN FIN FIN FIN FIN FIN */

#titreMilieu
{
    margin-left: 8%;
}


/* CSS de la section inferieure */

#sectionInferieure
{
    display: flex;
    flex-direction: column;
    /*
    margin-left: 1.5%;
    margin-right: 1.5%;
    */
    font-weight: bold;
}

.blocPair
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.blocImpair
{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bullePixPaire, .bullePix
{
    display: flex;

    flex-direction: column;

    border-radius: 15px;

    box-shadow: 0px 3px 0px #f3f3f3;

    width: 80%;

    margin-bottom: 5%;


}

.pixInferieures
{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    width: 100%;
    height: 133px;
}

/* FIN FIN FIN FIN de la section inférieure   FIN FIN FIN FIN */

/* CSS du footer */

footer
{
    /*padding-left: 1.5%; */
    background-color: #f2f2f2;

    display: flex;
    flex-direction: column;

    padding-left: 8%;
}

/*
.articleFooter
{

    margin-right: 15%;

}
*/

footer a:hover
{
    font-style: italic;   /* A VERIFIER DANS LE SCENARIO  */
}