/* Propriétés CSS communes à toute la page web */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*
{
    font-family: Raleway, Courier, monospace, Arial;
}

a:link
{ 
    text-decoration: none;
    color: inherit;
}

a:visited
{ 
    text-decoration: none;
    color:#551A8B
}

/* flexbox et CSS de la zone d'entête */

/* Le header va dispatcher le logo Reservia à gauche et hébergement/Activités et le bouton s'inscrire sur la droite */
header
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 3.5%;                      /* MARGE MARGE */
    padding-right: 3.5%;                     /* MARGE MARGE */
}

.element
{
    margin-right: 3em;
}

.element:nth-child(1)
{
    flex-grow: 1;
    height: 4em;
    text-align: left;
}

.lienMenu
{
    height: 4em;
    display: flex;
    align-items: center;
}

a[href="#titreHebergementMarseille"], a[href="#titreMilieu"]
{
    text-decoration: none;
    color: black;
} 

a[href="#titreHebergementMarseille"]:hover, a[href="#titreMilieu"]:hover
{
    color: #3081fd;
}

.lienMenu:hover
{
    color: #3081fd;
    border-top-style: solid;
}


#boutonSinscrire
{
    color: #3081fd;
}

button 
{
	background: none;
	border: none;
	font: inherit;	
}

header button:hover
{
    font-weight: bold;
}

#reserviaLogo
{
    height: 3em;
}

/* flexbox de la zone d'entête FIN FIN FIN CSS de la zone d'entête FIN FIN FIN*/

/* CSS et flexbox de la zone section Filtre de Trouver votre h....  à  Plus de 500 logements dispo...*/

#sectionFiltre
{
    margin-left: 3.5%;                          /*MARGE MARGE */  
}

/* CSS pour modifier le formatage par defaut des balises de type SUBMIT et SEARCH*/
input[type="submit"], input[type="search"] 
{
	background: none;
    color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

form[id="formVille"]:hover 
{
    font-style: italic;
}

/* CSS de la grosse bulle icone/zone de texte/bouton submit */

#rechercheVille
{
    display: flex;
    align-items: center;
    width: 50%;
    height: 3em; 
    margin-bottom: 1em;
}

/* CSS de la zone icone */    

#pointe
{
    background-color: #f2f2f2;
    width: 13%;
    height: 100%; 
    border-top-left-radius: 10px;                   /* BORDER RADIUS */
    border-bottom-left-radius: 10px;                /* BORDER RADIUS */
    display: flex;
    justify-content: center;
    align-items: center;
}

#pointePix
{
    width: 25%;
}

/* CSS de la zone de texte */

#formVille
{
    width: 87%;
}

#laVille
{
    font-weight: bold;
    color: black; 
    padding-left: 1em;  
    width: 40%;
}

/* CSS de la zone du bouton submit */

#textValid
{
    background-color: #0065fc;
    color: #ffffff;
    font-weight: bold;
    height: 3em;
    width: 30%;
    border-top-right-radius: 10px;                      /* BORDER RADIUS */ 
    border-bottom-right-radius: 10px;                   /* BORDER RADIUS */  
}

#loupeValid
{
    display: none;
}

#labelLoupeValid
{
    display: none;
}
/* ************************************************************************************/
/* CSS de la ligne de filtes : Eco, Famil., Romantiq., Animaux */

#filtreRecherche
{
    display: flex;
    align-items: center;  
    width: 100%;
}

ul.mesFiltres
{
    list-style-type: none;
    display: flex;
    width: 80%;
}

.iconPix
{
    color: #0065fc;
    border: 1.5px solid #deebff;
    background: #deebff;
    border-radius: 50px;
    padding: 15px;
    text-align: center;
    margin-right: 4%;
    position: relative;
    right: 2px;
    z-index: 2;
}


ul.mesFiltres li
{
    float: left;
}


.amande
{
    border: 1.5px solid #d9d9d9;
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin-right: 3%;
    font-weight: bold;
    z-index: 1;
}

.cartoucheLongue
{
    width: 35%;
}

.cartoucheMoyenne
{
    width: 30%;
}

.cartouchePetite
{
    width: 25%;
}    

.pourInfoPix
{
    border: 2px solid #dedede;
    border-radius: 50%;
    padding: 6px;
    width: 18px;
    height: 18px;
    text-align: center;
    margin-right: 1%;
    color: #0065fc;
}

/*****************************************************************************************************/

/* CSS et flexbox de la zone section Filtre de Trouver votre h....  à  Plus de 500 logements dispo...*/
/* FIN FIN FIN FIN FIN FIN FIN FIN FIN FIN FIN FIN FIN FIN */


/* CSS de la section des photos des hébergements - SECTION SUPERIEURE */
#sectionSuperieure                  /* NI HAUTEUR NI LARGEUR */
{
    display: flex;
    margin-left: 3.5%;              /* MARGE MARGE */
    margin-right: 3.5%;             /* MARGE MARGE */
}

#blocGauche                         /*PAS DE HAUTEUR */
{
    width: 61%;                     /*LARGEUR */
    
    border-style: solid;
    border-color: #f2f2f2;
    border-radius: 10px;                        /* BORDER RADIUS */
    background-color: #f2f2f2;

    margin-right: 3%;                   /* MARGE MARGE EXTERIEURE */
    padding-top: 1%;                    /* MARGE INTERIEURE */
    padding-bottom: 1%;                 /* MARGE INTERIEURE */
    padding-left: 4%;                   /* MARGE INTERIEURE */
    padding-right: 2.5%;                /* MARGE INTERIEURE */

    display: flex;                      /* FLEXBOX */
    flex-direction: column;
    justify-content: space-between;
}

#titreHebergementMarseille
{
    position: relative;                     /* POSITION RELATIVE */
    left: 1%;
}

.titreHdeux
{
    font-size: 1.5em;
}

#blocGaucheTop                              
{
    height: 31%;                            /* HAUTEUR */
    width: 100%;                            /* LARGEUR */

    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;                  /*MARGIN */
}

#blocGaucheBas
{
    height: 31%;                        /* HAUTEUR */
    width: 100%;                        /* LARGEUR */
  
    display: flex;
    justify-content: space-around; 
    margin-bottom: 5%;                  /*MARGIN */
}

#afficherPlus
{
    position: relative;                 
    left: 1%;
    font-weight: bold;
}

.bullePhoto
{
    height: 100%;                       /* HAUTEUR */
    width: 28%;                         /* LARGEUR */

    margin-right: 3.5%;                 /* MARGE EXTERIEURE */
    border-style: solid;
    border-radius: 10px;                /* BORDER RADIUS */
    border-color:#ffffff; 
    background-color:#ffffff;   
}

.roundedPixTop
{                       
    width: 100%;                        /* LARGEUR */
    height: 114px;                      /*  HAUTEUR */
    object-fit: cover;   
    border-top-left-radius: 10px;               /* BORDER RADIUS */
    border-top-right-radius: 10px;              /* BORDER RADIUS */
}

.roundedPixBottom
{   
    width: 100%;                            /* LARGEUR */
    height: 114px;                          /* HAUTEUR */
    object-fit: cover;
    
    border-top-left-radius: 10px;               /* BORDER RADIUS */
    border-top-right-radius: 10px;              /* BORDER RADIUS */
}

.descripPhoto 
{
    height: 43%;
    font-size: 0.9em;
}

.bulleTitreText
{
    margin-left: 3%;
    font-weight: bold;  
    position: relative;                       
    bottom: 10%;
}

.bulleText
{
    position: relative;                 
    bottom: 19%;   
    margin-left: 3%;
}

.bulleTextBold
{
    font-weight: bold;
}

.ratings
{
    position: relative;                 
    bottom: 30%;
    margin-left: 3%;
}

.starPix
{
    width: 0.4em;                         /* LARGEUR */
    color: #0065fc;
    margin-right: 0.5em;
}

.starPixGrey
{
    width: 0.4em; 
    color: #d9d9d9;
    margin-right: 0.5em;

}
/* FIN de la zone gauche (#blocGauche) de la sectionSuperieure */

/* CSS de la zone droite de la sectionSuperieure */

#blocDroit        /* PAS DE HAUTEUR */
{
    width: 29%;                             /* LARGEUR */
    border-style: solid;
    border-color: #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 10px;                          /* BORDER RADIUS */ 
    padding: 1%;
 
    display: flex;                          /* FLEXBOX */ 
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#titrePlusIcon
{
    display: flex;                          /* FLEXBOX */
    justify-content: space-between;
    align-items: center;
    width: 80%;                             /* LARGEUR */
}

#iconGraph
{
    width: 1em;
}

.bullePicture
{
    display: flex;                          /* FLEXBOX */
    border-style: solid;
    border-color: #ffffff;
    border-radius: 10px;                    /* BORDER RADIUS */
    height: 21%;                            /* HAUTEUR */
    width: 82%;                             /* LARGEUR */
    background-color: #ffffff;    
    position: relative;                     
    bottom: 6%;
}

.leftRoundPix
{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 126px;                             /* LARGEUR */
    height: 100%;
    object-fit: cover;
}

.descriptionPhoto
{
    margin-left: 1%;
    width: 55%;                             /* LARGEUR */
    height: 100%;                           /* HAUTEUR */
    font-size: 0.9em;
}

.titreTextPhoto
{
    font-weight: bold;
    height: 10%;                            /* HAUTEUR */
    margin-left: 8%;
    margin-bottom: 2em;
}

.textPictureGras
{
    font-weight: bold;
}

.textPhoto
{
    height: 10%;                            /* HAUTEUR */
    margin-left: 8%;
    margin-bottom: 2.5em;
}

.ratingsDroit
{ 
    margin-left: 8%;
}

.starPixDroit
{
    width: 0.4em;                           /* LARGEUR */
    height: 100%;                           /* HAUTEUR */
    color: #0065fc;
    margin-right: 0.5em;
}

.starPixDroitGrey
{
    width: 0.4em;
    color: #d9d9d9;
    margin-right: 0.5em;
}

/* MEDIA QUERIES POUR PERMETTRE LES FORMATS TABLETTES */

@media screen and (min-width: 1200px) and (max-width: 1300px)
{
    .descripPhoto 
    {
        font-size: 0.8em;
    }

    .descriptionPhoto
    {
        font-size: 0.8em;
    }

    .pixDescrip
    {
        font-size: 0.9em;
    }
}

@media screen and (min-width: 1100px) and (max-width: 1199px)
{
    .descripPhoto 
    {
        font-size: 0.6em;
    }

    .descriptionPhoto
    {
        font-size: 0.6em;
    }

    .pixDescrip
    {
        font-size: 0.8em;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1099px)
{
    .descripPhoto 
    {
        font-size: 0.5em;
    }
    
    .descriptionPhoto
    {
        font-size: 0.5em;
    }

    .pixDescrip
    {
        font-size: 0.7em;
    }
}


/* FIN FIN FIN FIN CSS de la section des photos des hébergements - SECTION SUPERIEURE FIN FIN FIN FIN FIN FIN */

#titreMilieu
{
    margin-left: 3.5%;
}

/* CSS de la section inferieure */

#sectionInferieure
{
    display: flex;                          /* FLEXBOX */
    justify-content: space-between;
    margin-left: 3.5%;
    margin-right: 3.5%;
    margin-bottom: 3.5%;
    font-weight: bold;
}

.blocActivite   
{
    display: flex;                          /* FLEXBOX */
    flex-direction: column;
    justify-content: space-between;
    width: 22%;                             /* LARGEUR */
    height: 28em;                           /* HAUTEUR */    
}

#bullePix1, #bullePix2, #bullePix3, #bullePix4, #bullePix5, #bullePix6
{
    border-radius: 15px;                    /* BORDER RADIUS */
    box-shadow: 0px 3px 0px #f3f3f3;
    width: 100%;                            /* LARGEUR */
}

#bullePix1                                   /*BIG PIX */                        
{
    height: 100%;                            /* HAUTEUR */  
}

#pixInf1                                     /*BIG PIX */      
{
    height: 88%;                             /* HAUTEUR */
    object-fit: cover;
}

#bullePix2                                  
{
    height: 53%;                            /* HAUTEUR */ 
}

#pixInf2
{
    height: 75%;                          /* HAUTEUR */
    object-fit: cover;
}

#bullePix3
{       
    height: 42%;                            /* HAUTEUR */
}

#pixInf3
{
    height: 71%;                            /* HAUTEUR */
    object-fit: cover;
}


#bullePix4                                  /*BIG PIX */  
{
    height: 100%;                           /* HAUTEUR */
}

#pixInf4                                    /*BIG PIX */                         
{
    height: 88%;                            /* HAUTEUR */
    object-fit: cover;
}

#bullePix5                                  /*PIX 50% */
{
    height: 48%;                            /* HAUTEUR */    
}

#pixInf5                                    /*PIX 50% */
{
    height: 75%;                            /* HAUTEUR */
    object-fit: cover;
}

#bullePix6                                  /* PIX 50% */
{
    height: 48%;                            /* HAUTEUR */
}

#pixInf6                                    /*PIX 50% */
{
    height: 75%;                            /* HAUTEUR */
    object-fit: cover;
}


.pixInferieures
{
    border-top-left-radius: 10px;               
    border-top-right-radius: 10px;
    width: 100%;                            /* LARGEUR */
}   

.pixDescrip
{
    display: flex;                          /* FLEXBOX */
    align-items: center;
    padding-left: 5%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* FIN FIN FIN FIN de la section inférieure   FIN FIN FIN FIN */

/* CSS du footer */

footer
{
    padding-left: 3.5%;
    padding-right: 3.5%;
    background-color: #f2f2f2;
    display: flex;                          /*  FLEXBOX */
}

.articleFooter
{
    margin-right: 15%;
}

footer a:hover
{
    font-style: italic; 
}

footer ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer li
{
    margin-bottom: 1em;
}
