/* Propriétés CSS communes à toute la page web */

@font-face 
{
    font-family: 'Raleway';
    src: url('Raleway-VariableFont_wght.ttf');
}

*
{
    font-family: Raleway, Courier, monospace, Arial;
}

/* flexbox et CSS de la zone d'entête */


/* Le header va dispatcher le logo Reservia à gauche et hébergement/Activités et le bouton s'inscrire sur la droite */
header
{
    display: flex;

    justify-content: flex-end;
    align-items: center;

    padding-left: 1.5%;

}

.element
{
    margin-right: 3em;
}

.element:nth-child(1)
{
    flex-grow: 1;

    height: 4em;

    text-align: left;

}

.lienMenu
{
    height: 4em;
    display: flex;
    align-items: center;
}

.lienMenu:hover
{
    color: #3081fd;
    border-top-style: solid;
}


#boutonSinscrire
{
    color: #3081fd;
}


/* flexbox de la zone d'entête FIN FIN FIN CSS de la zone d'entête FIN FIN FIN*/

/* CSS et flexbox de la zone section Filtre de Trouver votre h....  à  Plus de 500 logements dispo...*/



#sectionFiltre
{
    margin-left: 1.5%;
  
}

/* CSS de la zone de texte: recherche ville et bouton submit associé  */
input[type="submit"], input[type="text"] 
{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* CSS de la grosse bulle icone/zone de texte/bouton submit */

#rechercheVille
{
    display: flex;

    align-items: center;

    width: 33%;

    height: 3em; 

    border-radius: 15px;

    margin-bottom: 1em;
}

/* CSS de la zone icone */    

#pointe
{
    background-color: #f2f2f2;
    width: 13%;

    height: 100%; 

    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* CSS de la zone de texte */

#laVille
{
    width: 55%;

    height: 100%; 

    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* CSS de la zone du bouton submit */

#valid
{

    background-color: #0065fc;

    color: #ffffff;

    font-weight: bold;

    width: 32%;

    height: 100%; 

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* CSS de la ligne de filtes : Eco, Famil., Romantiq., Animaux */

#filtre
{
    display: flex;

    font-weight: bold;

    height: 3em;
    
    margin-bottom: 1em;

}

/* CSS du texte Filtres: */
#filtresText
{
    width: 4em;
    height: 100%;

    display: flex;
    align-items: center;
    
}

/* CSS des icones des bulles de filtres Eco, fam., Romantiq., Animaux */

#iconEco
{
    background-color: #deebff;
    border-style: solid;
    border-color: #deebff;
    
    position: relative;
    left: 1.3em; 
    
    width: 3em;
    height: 100%;

    border-radius: 50%;
    
    display: flex;
    justify-content: center;
}

#iconFamille
{
    background-color: #deebff;
    border-style: solid;
    border-color: #deebff;

    position: relative;
    left: 1.3em; 
    
    width: 3em;
    height: 100%;

    border-radius: 50%;
    
    display: flex;
    justify-content: center;
}

#iconRomantique
{
    background-color: #deebff;
    border-style: solid;
    border-color: #deebff;

    position: relative;
    left: 1.3em; 
    
    width: 3em;
    height: 100%;

    border-radius: 50%;

    display: flex;
    justify-content: center;

}

#iconAnimaux
{
    background-color: #deebff;
    border-style: solid;
    border-color: #deebff;

    position: relative;
    left: 1.3em; 
         
    width: 3em;
    height: 100%;

    border-radius: 50%;

    display: flex;
    justify-content: center;

}

/* propriétés générales CSS des icones des bulles de filtres Eco, fam., Romantiq., Animaux */

button 
{
	background: none;
	border: none;
	font: inherit;
	
}

/* propriétés CSS individuelles des icones des bulles de filtres Eco, fam., Romantiq., Animaux */
#boutonEco
{
    width: 10em;
    height: 100%;
    border-color: #d9d9d9;
    border-style: solid;

    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

    display: flex;
    justify-content: center;
}

#boutonFamille
{
    width: 8em;
    height: 100%;
    border-color: #d9d9d9;
    border-style: solid;
    
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

    display: flex;
    justify-content: center;
}

#boutonRomantique
{
    width: 10em;
    height: 100%;
    border-color: #d9d9d9;
    border-style: solid;

    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    
    display: flex;
    justify-content: center;
}

#boutonAnimaux
{
    width: 13em;
    height: 100%;
    border-color: #d9d9d9;
    border-style: solid;

    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

    display: flex;
    justify-content: center;
}


/* CSS de la ligne pour Info */

/* prop. Flexbox de cette ligne: icone i + texte pour info */

#pourInfo
{
    display: flex;
    align-items: center;
}

#iPourInfo
{
    width: 20px;
    height: 20px;
    border-style: solid;
    border-width: thin;
    border-color: #dedede;
    border-radius: 50%; 
    
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 0.5%;

}



/* CSS et flexbox de la zone section Filtre de Trouver votre h....  à  Plus de 500 logements dispo...*/
/* FIN FIN FIN FIN FIN FIN FIN FIN FIN FIN FIN FIN FIN FIN */


/* CSS de la section des photos des hébergements - SECTION SUPERIEURE */

#sectionSuperieure
{

    display: flex;

    margin-left: 1.5%;
    margin-right: 1.5%;
}

#blocGauche
{
    width: 61%;
    height: 626px;
    
    border-style: solid;
    border-color: #f2f2f2;
    border-radius: 15px;


    margin-right: 2.7%;
    padding-left: 2%;
    padding-right: 4%;

    background-color: #f2f2f2;
}

#blocGaucheTop
{
    display: flex;
}

#blocGaucheBas
{
    display: flex;
}

.bullePhoto
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 236px;
    height: 200px;
    margin-right: 4%;
    margin-bottom: 2%;

    border-style: solid;
    border-radius: 5%;
    border-color:#ffffff; 

    background-color:#ffffff;
}

.roundedPix
{
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}

.bulleText
{
    position: relative;
    bottom: 10px;
    margin-left: 1px;
}

.ratings
{
    display: flex;
    position: relative;
    bottom: 36px;
    margin-left: 1px;
}

/* CSS de la zone droite de la sectionSuperieure */

#blocDroit
{
    width: 32%;
    height: 572px;

    border-style: solid;
    border-color: #f2f2f2;
    border-radius: 15px;

    padding: 2%;

    background-color: #f2f2f2;

    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#titrePlusIcon
{
    display: flex;

    width: 80%;
    
    justify-content: space-between;

    position: relative;
    bottom: 4%;
    
    
    
}


.bullePicture
{
    display: flex;

    border-style: solid;
    border-color: #ffffff;
    border-radius: 10px;

    margin-bottom: 9%;
    height: 134px;
    width: 80%;

    background-color: #ffffff;

    position: relative;
    bottom: 4%;

}

.leftRoundPix
{
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
}

.descriptionPhoto
{
    margin-left: 2%;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
}



.textPhoto
{
    position: relative;
    bottom: 10%;
}


#ratingsRightMiddle
{
    position: relative;
    bottom: 16%;
}

/*
#ratingsRightBottom
{
    position: relative;
    bottom: 16%;
}
*/



/* FIN FIN FIN FIN CSS de la section des photos des hébergements - SECTION SUPERIEURE FIN FIN FIN FIN FIN FIN */

#titreMilieu
{
    margin-left: 1.5%;
}


/* CSS de la section inferieure */

#sectionInferieure
{

    display: flex;
    justify-content: space-between;

    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 50px;

    font-weight: bold;

}

.blocPair
{

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.bullePixPaire, .bullePix
{
    display: flex;

    flex-direction: column;

    border-radius: 15px;

    box-shadow: 0px 3px 0px #f3f3f3;

}

.pixInferieures
{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* FIN FIN FIN FIN de la section inférieure   FIN FIN FIN FIN */

/* CSS du footer */

footer
{
    padding-left: 1.5%;
    background-color: #f2f2f2;

    display: flex;

}


.articleFooter
{

    margin-right: 15%;

}

footer a:hover
{
    font-style: italic;   /* A VERIFIER DANS LE SCENARIO  */
}
