/* Propriétés CSS communes à toute la page web */

@font-face 
{
    font-family: 'Raleway';
    src: url('Raleway-VariableFont_wght.ttf');
}

*
{
    font-family: Raleway, Courier, monospace, Arial;
}

/* flexbox et CSS de la zone d'entête */

/* Le header va dispatcher le logo Reservia à gauche et hébergement/Activités et le bouton s'inscrire sur la droite */
header
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 3.5%;                      /* MARGE MARGE */
    padding-right: 3.5%;                     /* MARGE MARGE */
}

.element
{
    margin-right: 3em;
}

.element:nth-child(1)
{
    flex-grow: 1;
    height: 4em;
    text-align: left;
}

.lienMenu
{
    height: 4em;
    display: flex;
    align-items: center;
}

.lienMenu:hover
{
    color: #3081fd;
    border-top-style: solid;
}


#boutonSinscrire
{
    color: #3081fd;
}

#reserviaLogo
{
    height: 3em;
}

/* flexbox de la zone d'entête FIN FIN FIN CSS de la zone d'entête FIN FIN FIN*/

/* CSS et flexbox de la zone section Filtre de Trouver votre h....  à  Plus de 500 logements dispo...*/

#sectionFiltre
{
    margin-left: 3.5%;                          /*MARGE MARGE */  
}

/* CSS pour modifier le formatage par defaut des balises de type SUBMIT et SEARCH*/
input[type="submit"], input[type="search"] 
{
	background: none;
    color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* CSS de la grosse bulle icone/zone de texte/bouton submit */

#rechercheVille
{
    display: flex;
    align-items: center;
    width: 50%;
    height: 3em; 
    margin-bottom: 1em;
}

/* CSS de la zone icone */    

#pointe
{
    background-color: #f2f2f2;
    width: 13%;
    height: 100%; 
    border-top-left-radius: 10px;                   /* BORDER RADIUS */
    border-bottom-left-radius: 10px;                /* BORDER RADIUS */
    display: flex;
    justify-content: center;
    align-items: center;
}

#pointePix
{
    width: 25%;
}

/* CSS de la zone de texte */

#formVille
{
    width: 87%;
}

#laVille
{
    font-weight: bold;
    color: black; 
    padding-left: 1em;  
    width: 30%;
}

/* CSS de la zone du bouton submit */

#textValid
{
    background-color: #0065fc;
    color: #ffffff;
    font-weight: bold;
    height: 3em;
    width: 30%;
    border-top-right-radius: 10px;                      /* BORDER RADIUS */ 
    border-bottom-right-radius: 10px;                   /* BORDER RADIUS */  
}

#loupeValid
{
    display: none;
}

#labelLoupeValid
{
    display: none;
}

/* CSS de la ligne de filtes : Eco, Famil., Romantiq., Animaux */

#filtre
{
    display: flex;
    font-weight: bold;
    margin-bottom: 1em;
}

/* CSS du texte Filtres: */
#filtresText
{
    width: 4em;
    height: 100%;
    display: flex;
    align-items: center; 
}

/* CSS des bulles de filtres (icone+text) Eco, fam., Romantiq., Animaux */

.filtreBulle
{  
    display: flex;
}

/* CSS des icones seules */

.iconBlock
{
    background-color: #deebff;
    border-style: solid;
    border-color: #deebff;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    display: flex;
    justify-content: center;  
    align-items: center;  
    z-index: 2;
}

.iconPix
{
    /*width: 1.5em; */
    color: #0065fc;
}

/* CSS pour modifier le formatage par defaut des balises BUTTON */
button 
{
	background: none;
	border: none;
	font: inherit;	
}

.boutonBlock
{
    border-color: #d9d9d9;
    border-style: solid;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-left: 1.8em;
    padding-right: 1em;
    position: relative;
    right: 1.5em;
    z-index: 1;
}

/* CSS de la ligne pour Info */
/* prop. Flexbox de cette ligne: icone i + texte pour info */

#pourInfo
{
    display: flex;
    align-items: center;
}

#iPourInfo
{
    width: 1.5em;
    height: 1.5em;
    border-style: solid;
    border-width: thin;
    border-color: #dedede;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5%;
}

#pourInfoPix
{
    width: 15%;
    color: #0065fc;
}

/* CSS et flexbox de la zone section Filtre de Trouver votre h....  à  Plus de 500 logements dispo...*/
/* FIN FIN FIN FIN FIN FIN FIN FIN FIN FIN FIN FIN FIN FIN */


/* CSS de la section des photos des hébergements - SECTION SUPERIEURE */
#sectionSuperieure                  /* NI HAUTEUR NI LARGEUR */
{
    display: flex;
    margin-left: 3.5%;              /* MARGE MARGE */
    margin-right: 3.5%;             /* MARGE MARGE */
}

#blocGauche                         /*PAS DE HAUTEUR */
{
    width: 61%;                     /*LARGEUR */
    
    border-style: solid;
    border-color: #f2f2f2;
    border-radius: 10px;                        /* BORDER RADIUS */
    background-color: #f2f2f2;

    margin-right: 3%;                   /* MARGE MARGE EXTERIEURE */
    padding-top: 1%;                    /* MARGE INTERIEURE */
    padding-bottom: 1%;                 /* MARGE INTERIEURE */
    padding-left: 4%;                   /* MARGE INTERIEURE */
    padding-right: 2.5%;                /* MARGE INTERIEURE */

    display: flex;                      /* FLEXBOX */
    flex-direction: column;
    justify-content: space-between;
}

#titreHebergementMarseille
{
    position: relative;                     /* POSITION RELATIVE */
    left: 1%;
}

#blocGaucheTop                              
{
    height: 31%;                            /* HAUTEUR */
    width: 100%;                            /* LARGEUR */

    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;                  /*MARGIN */
}

#blocGaucheBas
{
    height: 31%;                        /* HAUTEUR */
    width: 100%;                        /* LARGEUR */
  
    display: flex;
    justify-content: space-around; 
    margin-bottom: 5%;                  /*MARGIN */
}

#afficherPlus
{
    
    position: relative;                 
    left: 1%;
    
    font-weight: bold;
}

.bullePhoto
{
    height: 100%;                      /* HAUTEUR */
    width: 28%;                         /* LARGEUR */

    margin-right: 3.5%;                 /* MARGE EXTERIEURE */
    border-style: solid;
    border-radius: 10px;                /* BORDER RADIUS */
    border-color:#ffffff; 
    background-color:#ffffff;   
}

.roundedPixTop
{
                            
    width: 100%;                        /* LARGEUR */
    height: 114px;

    object-fit: cover;
    
    
    border-top-left-radius: 10px;               /* BORDER RADIUS */
    border-top-right-radius: 10px;              /* BORDER RADIUS */
}

.roundedPixBottom
{   
    width: 100%;                      /* HAUTEUR */
    height: 114px;
    object-fit: cover;
    

    border-top-left-radius: 10px;               /* BORDER RADIUS */
    border-top-right-radius: 10px;              /* BORDER RADIUS */
}

/* 
.photoGaucheTop
{
    height: 57%;
    width: 100%;
    
}

.photoGaucheBottom
{
    height: 57%;
    width: 100%;
}
*/
.descripPhoto 
{
    height: 43%;
    font-size: 0.9em;
}

.bulleTitreText
{
    margin-left: 3%;
    font-weight: bold;
    
    position: relative;                       
    bottom: 10%;
    }

.bulleText
{
    
    position: relative;                 
    bottom: 19%;
    
    margin-left: 3%;
}

.bulleTextBold
{
    font-weight: bold;
}

.ratings
{
    position: relative;                 
    bottom: 30%;
 
    margin-left: 3%;
}

.starPix
{
    width: 0.4em;                         /* LARGEUR */
    color: #0065fc;
    margin-right: 0.5em;
}

.starPixGrey
{
    width: 0.4em; 
    color: #d9d9d9;
    margin-right: 0.5em;

}
/* FIN de la zone gauche (#blocGauche) de la sectionSuperieure */

/* CSS de la zone droite de la sectionSuperieure */

#blocDroit        /* PAS DE HAUTEUR */
{
    width: 29%;                             /* LARGEUR */
    border-style: solid;
    border-color: #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 10px;                          /* BORDER RADIUS */ 
    padding: 1%;
 
    display: flex;                          /* FLEXBOX */ 
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#titrePlusIcon
{
    display: flex;                          /* FLEXBOX */
    justify-content: space-between;
    align-items: center;
    width: 80%;                             /* LARGEUR */
}

#iconGraph
{
    width: 1em;
}

.bullePicture
{
    display: flex;                          /* FLEXBOX */
    border-style: solid;
    border-color: #ffffff;
    border-radius: 10px;                    /* BORDER RADIUS */
    height: 21%;                            /* HAUTEUR */
    width: 82%;                             /* LARGEUR */
    background-color: #ffffff;  
    
    
    position: relative;                     
    bottom: 2%;
    
}

.leftRoundPix
{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 126px;                             /* LARGEUR */
    height: 100%;
    object-fit: cover;
}
/*
.photoDroit
{
    width: 45%;                             
    height: 100%;                           
}
*/
.descriptionPhoto
{
    margin-left: 1%;
    width: 55%;                             /* LARGEUR */
    height: 100%;                           /* HAUTEUR */
    font-size: 0.9em;
}

.titreTextPhoto
{
    font-weight: bold;
    height: 10%;                            /* HAUTEUR */
    /*
    position: relative;                    
    bottom: 9%;
    */
    margin-left: 8%;
    margin-bottom: 2em;
}

.textPictureGras
{
    font-weight: bold;
}

.textPhoto
{
    height: 10%;                            /* HAUTEUR */
    /*
    position: relative;                     
    top: 4%;
    */
    margin-left: 8%;
    margin-bottom: 2.5em;
}

.ratingsDroit
{
    /*
    position: relative;                    
    top: 30%;
    */  
    margin-left: 8%;
}

.starPixDroit
{
    width: 0.4em;                              /* LARGEUR */
    height: 100%;                           /* HAUTEUR */
    color: #0065fc;
    margin-right: 0.5em;
}

.starPixDroitGrey
{
    width: 0.4em;
    color: #d9d9d9;
    margin-right: 0.5em;
}

/* FIN FIN FIN FIN CSS de la section des photos des hébergements - SECTION SUPERIEURE FIN FIN FIN FIN FIN FIN */

#titreMilieu
{
    margin-left: 3.5%;
}

/* CSS de la section inferieure */

#sectionInferieure
{
    display: flex;                          /* FLEXBOX */
    justify-content: space-between;
    margin-left: 3.5%;
    margin-right: 3.5%;
    margin-bottom: 3.5%;
    font-weight: bold;
}

.blocActivite   
{
    display: flex;                          /* FLEXBOX */
    flex-direction: column;
    justify-content: space-between;
    width: 22%;                             /* LARGEUR */
    height: 28em;                           /* HAUTEUR */    
}

#bullePix1, #bullePix2, #bullePix3, #bullePix4, #bullePix5, #bullePix6
{
    border-radius: 15px;                    /* BORDER RADIUS */
    box-shadow: 0px 3px 0px #f3f3f3;
    width: 100%;                            /* LARGEUR */
}

#bullePix1                                   /*BIG PIX */                        
{
    height: 100%;                            /* HAUTEUR */             
}

#pixInf1                                     /*BIG PIX */      
{
    height: 88%;                             /* HAUTEUR */
}

#bullePix2                                  
{
    height: 53%;                            /* HAUTEUR */ 
}

#pixInf2
{
    height: 75%;                            /* HAUTEUR */
}

#bullePix3
{       
    height: 42%;                            /* HAUTEUR */
}

#pixInf3
{
    height: 71%;                            /* HAUTEUR */
}


#bullePix4                                  /*BIG PIX */  
{
    height: 100%;                           /* HAUTEUR */
}

#pixInf4                                    /*BIG PIX */                         
{
    height: 88%;                            /* HAUTEUR */
}

#bullePix5                                  /*PIX 50% */
{
    height: 48%;                            /* HAUTEUR */
    
}

#pixInf5                                    /*PIX 50% */
{
    height: 75%;                            /* HAUTEUR */
}

#bullePix6                                  /* PIX 50% */
{
    height: 48%;                            /* HAUTEUR */
}

#pixInf6                                    /*PIX 50% */
{
    height: 75%;                            /* HAUTEUR */
}


.pixInferieures
{
    border-top-left-radius: 6%;             /* BORDER RADIUS */
    border-top-right-radius: 6%;
    width: 100%;                            /* LARGEUR */
}   

.pixDescrip
{
    display: flex;                          /* FLEXBOX */
    align-items: center;
    padding-left: 5%;
}

/* FIN FIN FIN FIN de la section inférieure   FIN FIN FIN FIN */

/* CSS du footer */

footer
{
    padding-left: 3.5%;
    padding-right: 3.5%;
    background-color: #f2f2f2;
    display: flex;                          /*  FLEXBOX */
}

.articleFooter
{
    margin-right: 15%;
}

footer a:hover
{
    font-style: italic; 
}
